.jove-hero-search-block {
	position: relative;
}
.jove-hero-search-block .jove-hero-search-block__innerblocks {
	position: absolute;
	top: 49.5%;
	width: 100%;
	transform: translateY(-50%);
	left: 0;
	padding: 50px 150px;
}
.jove-hero-search-block
	.jove-hero-search-block__innerblocks
	> .wp-block-columns {
	max-width: 865px;
	margin: 0;
	width: 100%;
}
.jove-hero-search-block
	.jove-hero-search-block__innerblocks
	> .wp-block-columns
	:where(h2, h3, h4, h5, p, label) {
	color: #fff;
}
.jove-hero-search-block
	.jove-hero-search-block__innerblocks
	.wp-block-search__label {
	display: none;
}
.jove-hero-search-block .wp-block-search__inside-wrapper input {
	height: 56px;
	border: 1px solid #2183ed;
	border-radius: 4px 0 0 4px;
}
.jove-hero-search-block .wp-block-search__button {
	background: #2183ed;
	margin: 0;
	min-width: 130px;
	border-radius: 0 4px 4px 0;
	transition: all 0.3s ease 0s;
}
.jove-hero-search-block .wp-block-search__button:hover {
	background: #080b4b;
	transition: all 0.3s ease 0s;
}
.jove-hero-search-block .wp-block-search__inside-wrapper input:focus {
	outline: none;
}
.jove-hero-search-block .jove-hero-search-block__innerblocks .wp-block-heading {
	font-size: 56px;
	line-height: 1.25;
	font-weight: 500;
}
.jove-hero-search-block .jove-hero-search-block__innerblocks p {
	margin-top: 14px;
	font-size: 24px;
}
.jove-hero-search-block__innerblocks .wp-block-search {
	margin-top: 29px;
}

.jove-hero-search-block .jove-hero-search-block__video {
	max-height: 496px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.jove-hero-search-block .jove-hero-search-block__video video {
	width: 100%;
	height: auto;
}
.jove-hero-search-block
	.jove-hero-search-block__video
	.jove-hero-search-block__bg {
	width: 100%;
	height: 496px;
	background: linear-gradient(
		270deg,
		rgba(20, 52, 159, 0.09) 10%,
		#00165f 100%
	);
}
