.jove-abstract-block__journal a {
	font-size: 14px;
	color: #565656;
	text-decoration: none;
	pointer-events: none;
}
.jove-abstract-block__date {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.jove-abstract-block__date p {
	margin: 0;
	font-size: 14px;
	color: #adadad;
}
.jove-abstract-block__date_line {
	font-size: 14px;
}

.jove-abstract-block__authors-affiliations .jove-abstract-block__authors li {
	color: var(--wp--preset--color--primary);
}
.jove-abstract-block__authors-affiliations ul li sub {
	font-size: 10px;
	position: relative;
	top: -7px;
	left: 0;
	color: #4b4b4b;
}

.jove-abstract-block__social-share ul {
	margin: 12px 0 8px;
	padding: 0;
	display: flex;
	gap: 20px;
}
.jove-abstract-block__social-share ul li {
	list-style: none;
}
.jove-abstract-block__social-share ul li svg {
	width: 20px;
	height: 20px;
	color: #6c6c6a;
}

.jove-abstract-block__description {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/**
* New Style
*/
.jove-abstract-block {
	background: #fff;
	padding: 32px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	height: 676px;
	overflow-y: scroll;
	scrollbar-width: thin;
}
.jove-abstract-block__entry-header {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.jove-abstract-block__entry-header .jove-abstract-block__heading {
	font-size: 24px;
	color: #4b4b4b;
	font-weight: 500;
	margin: 0 0 12px 0;
}

.jove-abstract-block__authors-affiliations {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.jove-abstract-block__authors-affiliations ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.jove-abstract-block__authors-affiliations ul li {
	list-style: none;
	font-size: 14px;
	color: #565656;
}
.jove-abstract-block__entry-content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.jove-abstract-block__entry-content .jove-abstract-block__description__heading {
	font-size: 20px;
	color: #4b4b4b;
	margin: 0;
}
.jove-abstract-block__entry-content .jove-abstract-block__description__text p {
	font-size: 16px;
	color: #4b4b4b;
	margin: 0;
}
.jove-abstract-block__entry-content
	.jove-abstract-block__description__text
	p
	a {
	color: var(--wp--preset--color--primary);
	text-decoration: none;
}
.jove-abstract-block__entry-content .jove-abstract-block__keywords {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
}
.jove-abstract-block__entry-content
	.jove-abstract-block__keywords
	.jove-abstract-block__keywords__label {
	font-size: 16px;
	font-weight: 700;
	color: #4b4b4b;
}
.jove-abstract-block__entry-content .jove-abstract-block__keywords a {
	border: 1px solid var(--wp--preset--color--primary);
	border-radius: 50px;
	font-size: 12px;
	padding: 8px 16px;
	text-decoration: none;
	color: var(--wp--preset--color--primary);
	line-height: 1.4;
}

.single-video #popup-info {
	width: 450px !important;
	border-radius: 12px;
}
.single-video #popup-info .popup-content {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
.single-video #popup-info .popup-content > * {
	width: 100%;
}
.single-video #popup-info .jove-social-share-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}
.single-video #popup-info .jove-social-share-header h3 {
	margin: 0;
	color: #4b4b4b;
	font-size: 20px;
	font-weight: 500;
}
.single-video #popup-info .jove-social-share-header .mfp-close-custom {
	height: 24px;
	width: 24px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
.single-video #popup-info .jove-social-share-list {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 12px;
}

.single-video #popup-info .jove-social-share-list li {
	list-style: none;
	min-width: 60px;
	text-align: center;
	position: relative;
}
.single-video #popup-info .jove-social-share-list li a {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(75, 75, 75, 0.4);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.single-video #popup-info .jove-social-share-list li a::before {
	display: block;
	content: attr(title);
	position: absolute;
	top: 109%;
	left: 0;
	font-size: 12px;
	right: 0;
	text-align: center;
}

.jove-abstract-block__share__link-url {
	margin-top: 12px;
	padding-inline-start: 0.5rem;
	padding-inline-end: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 12px;
	background: rgb(249, 249, 249);
}

.jove-main-content {
	width: 1316px;
	max-width: 100%;
	margin: 0 auto;
}
.jove-abstract-block__share__link-url {
	padding: 16px 12px;
	font-size: 16px;
	text-align: left;
}
.jove-abstract-block__share__link {
	text-align: right;
}
.jove-abstract-block__share__link-copy {
	color: rgb(33, 131, 237);
	text-decoration: none;
	margin-left: auto;
	padding: 10px 15px;
	font-size: 1rem;
	font-weight: 500;
}
@media only screen and (max-width: 1199px) {
	.single-video main {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (max-width: 1023px) {
	.jove-abstract-block {
		padding: 24px;
		height: 676px;
	}
	.jove-abstract-block__entry-header .jove-abstract-block__heading {
		font-size: 22px;
	}
}

@media only screen and (max-width: 991px) {
	.jove-main-content > .wp-block-columns {
		display: block;
	}
	.single-video main {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.jove-abstract-block {
		margin-block-end: var(--wp--preset--spacing--medium);
		height: 100%;
	}
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 567px) {
}

@media only screen and (max-width: 479px) {
}
