.jove-concept-block .wp-block-post .wp-block-columns {
	margin-bottom: 0;
}
.jove-concept-block .wp-block-post-template {
	gap: 17px;
}
.jove-concept-block .wp-block-post-template .wp-block-post-title {
	font-size: 14px;
	font-weight: 500;
	color: #1c1d1d;
}
.jove-concept-block .wp-block-post-template .wp-block-post .wp-block-columns {
	align-items: center !important;
}
.jove-concept-block
	.wp-block-post-template
	.wp-block-post
	.wp-block-post-excerpt {
	font-size: 12px;
	color: #565656;
	margin-top: 10px;
}
.jove-concept-block
	.wp-block-post-template
	.wp-block-post-template
	.wp-block-column
	> .wp-block-group {
	font-size: 12px;
	color: #565656;
	gap: 5px;
	margin-top: 10px;
}

/**
* New Styles
*/
.jove-concept-video-block {
	padding: 32px 20px;
	border-radius: 4px;
	background-color: var(--wp--preset--color--base);
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.jove-concept-video-block .jove-concept-video-block__heading {
	font-size: 24px;
	font-weight: 500;
	color: #4b4b4b;
	margin: 0;
}
.jove-concept-video-block__lists {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three equal columns */
	gap: 16px; /* Space between grid items */
}
.jove-concept-video-block__list {
	display: flex;
	gap: 16px; /* Adjust gap between items if needed */
	background: #f5f9ff;
	padding: 12px;
	border-radius: 4px;
}
.jove-concept-video-block__image {
	margin-bottom: 0;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	line-height: 0;
	width: 40%;
}
.jove-concept-video-block__image__overlay {
	position: absolute;
	left: 7px;
	bottom: 8px;
	height: 18px;
	width: 39px;
	background: #2a2a2ab2;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.jove-concept-video-block__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 60%;
}
.jove-concept-video-block__content .jove-concept-video-block__title {
	font-size: 14px;
	font-weight: 500;
	color: #1c1d1d;
	margin: 0;
}
.jove-concept-video-block__content .jove-concept-video-block__title a {
	text-decoration: none;
}
.jove-concept-video-block__date {
	font-size: 12px;
	color: #565656;
	margin: 0;
}
.jove-concept-video-block__views {
	font-size: 12px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 4px;
}
.jove-concept-video-block__views svg {
	width: 14px;
	height: 14px;
}
.jove-concept-video-block__image img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

@media only screen and (max-width: 1023px) {
	.jove-concept-video-block__lists {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 767px) {
	.jove-concept-video-block__lists {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (max-width: 567px) {
	.jove-concept-video-block .jove-concept-video-block__heading {
		font-size: 20px;
	}
	.jove-concept-video-block {
		padding: 20px 20px;
	}
}

@media only screen and (max-width: 479px) {
	.jove-concept-video-block .jove-concept-video-block__heading {
		font-size: 19px;
		text-align: center;
	}
	.jove-concept-video-block {
		padding: 15px;
	}

	.jove-concept-video-block__list {
		display: block;
	}

	.jove-concept-video-block__image {
		width: 60%;
		margin: 0 auto 8px;
	}

	.jove-concept-video-block__content {
		width: 100%;
		text-align: center;
	}

	.jove-concept-video-block__views {
		justify-content: center;
	}
}
