/**
** New Style
*/
.jove-experiment-video-block .jove-experiment-video-block__heading {
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	color: #4b4b4b;
	background: #daecff;
	padding: 15px;
	text-transform: capitalize;
	margin: 0;
}
.jove-experiment-video-block .jove-experiment-video-block__container {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.jove-experiment-video-block .jove-experiment-video-block__notice {
	display: flex;
	align-items: start;
	gap: 10px;
	padding: 12px 16px;
	background: #e4ecfa;
	justify-content: space-between;
}
.jove-experiment-video-block
	.jove-experiment-video-block__notice
	.jove-notice__text
	> * {
	margin: 0;
	font-size: 14px;
	color: #323232;
}
.jove-experiment-video-block .jove-experiment-video-block__button a {
	width: 100%;
}
.jove-experiment-video-block__lists {
	display: flex;
	gap: 12px;
	flex-direction: column;
}
.jove-experiment-video-block__list {
	display: grid;
	grid-template-columns: 40% 60%; /* Set column widths */
	gap: 16px; /* Adjust gap between items if needed */
	background: #f5f9ff;
	padding: 12px;
	border-radius: 4px;
}
.jove-experiment-video-block__image {
	margin-bottom: 0;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	line-height: 0;
}
.jove-experiment-video-block__image__overlay {
	position: absolute;
	left: 7px;
	bottom: 8px;
	height: 18px;
	width: 39px;
	background: #2a2a2ab2;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.jove-experiment-video-block__lists
	.jove-experiment-video-block__list:first-child
	.jove-experiment-video-block__image__overlay {
	top: 8px;
}
.jove-experiment-video-block__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.jove-experiment-video-block__content .jove-experiment-video-block__title {
	font-size: 14px;
	font-weight: 500;
	color: #1c1d1d;
	margin: 0;
}
.jove-experiment-video-block__content .jove-experiment-video-block__title a {
	text-decoration: none;
}
.jove-experiment-video-block__date {
	font-size: 12px;
	color: #565656;
	margin: 0;
}
.jove-experiment-video-block__views {
	font-size: 12px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 4px;
}
.jove-experiment-video-block__views svg {
	width: 14px;
	height: 14px;
}
.jove-experiment-video-block__image img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}
