.jove-video-block .wp-block-post-featured-image {
	margin-bottom: 0;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	line-height: 0;
}
.jove-video-block .wp-block-post-featured-image__overlay {
	position: absolute;
	left: 7px;
	bottom: 8px;
	height: 18px;
	width: 39px;
	background: #2a2a2ab2;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
