.wp-block-acf-views {
	margin-top: 10px !important;
}
.jove-views-block {
	font-size: 12px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 4px;
}
.jove-views-block svg {
	width: 14px;
	height: 14px;
}
