/* Group
--------------------------------------------- */

.is-style-background-blur {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* Improvements for row group */
@media (max-width: 781px) {
  .jove-row-stack {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .jove-row-stack > * {
    flex-basis: 100% !important;
  }

  .jove-flex-start {
    align-items: flex-start !important;
  }

  .jove-justify-start {
    justify-content: flex-start !important;
  }
}

.jove-row-stack > .wp-block-buttons,
.jove-no-shrink {
  flex-shrink: 0;
}

.wp-block-group.jove-sticky-top {
  top: calc(20px + var(--wp-admin--admin-bar--position-offset, 0px));
}
