<!-- wp:template-part {"slug":"header","theme":"jove","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"jove/search"} /-->

<!-- wp:group {"tagName":"main","style":{"color":{"background":"#f5f5f5"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main
	class="wp-block-group has-background"
	style="background-color: #f5f5f5; margin-top: 0; margin-bottom: 0"
>
	<!-- wp:acf/search-filter {"name":"acf/search-filter","data":{"heading":"","_heading":"field_6780e461cefdb"},"mode":"preview"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
