<!-- wp:template-part {"slug":"header","theme":"jove","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"jove/search"} /-->

<!-- wp:group {"tagName":"main","align":"wide","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"color":{"background":"#f5f5f5"}},"layout":{"type":"default"}} -->
<main
	class="wp-block-group alignwide is-style-default has-background"
	style="background-color: #f5f5f5; margin-top: 0; margin-bottom: 0"
>
	<!-- wp:group {"tagName":"main","align":"wide","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"}},"color":{"background":"#f5f5f5"}},"layout":{"type":"default"}} -->
	<main
		class="wp-block-group alignwide is-style-default has-background"
		style="background-color: #f5f5f5; margin-top: 0; margin-bottom: 0"
	>
		<!-- wp:group {"layout":{"type":"default"}} -->
		<div class="wp-block-group">
			<!-- wp:group {"layout":{"type":"constrained"}} -->
			<div class="wp-block-group"><!-- wp:x3p0/breadcrumbs /--></div>
			<!-- /wp:group -->

			<!-- wp:group {"className":"jove-video-container","layout":{"type":"constrained"}} -->
			<div class="wp-block-group jove-video-container">
				<!-- wp:columns {"className":"jove-video-content-wrap"} -->
				<div class="wp-block-columns jove-video-content-wrap">
					<!-- wp:column {"width":"62%","className":"jove-video-left-col"} -->
					<div
						class="wp-block-column jove-video-left-col"
						style="flex-basis: 62%"
					>
						<!-- wp:acf/abstract {"name":"acf/abstract","data":{"heading":"","_heading":"field_6773730866d21"},"mode":"preview"} -->
						<!-- wp:group {"layout":{"type":"constrained"}} -->
						<div class="wp-block-group">
							<!-- wp:post-title /-->

							<!-- wp:acf/affiliations {"name":"acf/affiliations","data":{"label":"","_label":"field_676f6bed17c76"},"mode":"preview"} /-->

							<!-- wp:post-terms {"term":"journal"} /-->

							<!-- wp:group {"className":"jove-video-publish-date","layout":{"type":"flex","flexWrap":"nowrap"}} -->
							<div class="wp-block-group jove-video-publish-date">
								<!-- wp:paragraph -->
								<p>Published on:</p>
								<!-- /wp:paragraph -->

								<!-- wp:post-date /-->
							</div>
							<!-- /wp:group -->

							<!-- wp:acf/share {"name":"acf/share","mode":"preview"} /-->
						</div>
						<!-- /wp:group -->

						<!-- wp:group {"className":"jove-video-abstract-details","layout":{"type":"constrained"}} -->
						<div class="wp-block-group jove-video-abstract-details">
							<!-- wp:heading -->
							<h2 class="wp-block-heading">Abstract</h2>
							<!-- /wp:heading -->

							<!-- wp:post-content /-->

							<!-- wp:post-terms {"term":"keyword","prefix":"Keywords:","className":"is-style-term-button"} /-->
						</div>
						<!-- /wp:group -->
						<!-- /wp:acf/abstract -->
					</div>
					<!-- /wp:column -->

					<!-- wp:column {"width":"38%","className":"jove-video-right-col"} -->
					<div
						class="wp-block-column jove-video-right-col"
						style="flex-basis: 38%"
					>
						<!-- wp:acf/experiment {"name":"acf/experiment","data":{"heading":"Related Experiment Videos","_heading":"field_67737146c3d79","notice":"These videos have been matched automatically. \u003ca href=\u0022https://www.jove.com/about/contact\u0022\u003eContact us\u003c/a\u003e if they are not relevant.","_notice":"field_677890763338c","button_text":"See all related videos","_button_text":"field_67789826d46e0"},"mode":"preview"} /-->
					</div>
					<!-- /wp:column -->
				</div>
				<!-- /wp:columns -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"jove-video-related-container","layout":{"type":"constrained"}} -->
		<div class="wp-block-group jove-video-related-container">
			<!-- wp:acf/concept {"name":"acf/concept","data":{"heading":"Related Concept Videos","_heading":"field_6773719fa0765"},"mode":"preview"} /-->
		</div>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
