<!-- wp:template-part {"slug":"header","theme":"jove","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"jove/search"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base","layout":{"type":"default"}} -->
<main
	class="wp-block-group alignwide has-base-background-color has-background"
	style="margin-top: 0; margin-bottom: 0"
>
	<!-- wp:group {"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"layout":{"type":"constrained"}} -->
		<div class="wp-block-group"><!-- wp:x3p0/breadcrumbs /--></div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"jove-video-container","layout":{"type":"constrained"}} -->
		<div class="wp-block-group jove-video-container">
			<!-- wp:columns {"className":"jove-video-content-wrap"} -->
			<div class="wp-block-columns jove-video-content-wrap">
				<!-- wp:column {"width":"60%","className":"jove-video-left-col"} -->
				<div
					class="wp-block-column jove-video-left-col"
					style="flex-basis: 60%"
				>
					<!-- wp:acf/abstract {"name":"acf/abstract","data":{"heading":"","_heading":"field_6773730866d21"},"mode":"preview"} -->
					<!-- wp:group {"layout":{"type":"constrained"}} -->
					<div class="wp-block-group">
						<!-- wp:post-title /-->

						<!-- wp:acf/affiliations {"name":"acf/affiliations","data":{"label":"","_label":"field_676f6bed17c76"},"mode":"preview"} /-->

						<!-- wp:post-terms {"term":"journal"} /-->

						<!-- wp:group {"className":"jove-video-publish-date","layout":{"type":"flex","flexWrap":"nowrap"}} -->
						<div class="wp-block-group jove-video-publish-date">
							<!-- wp:paragraph -->
							<p>Published on:</p>
							<!-- /wp:paragraph -->

							<!-- wp:post-date /-->
						</div>
						<!-- /wp:group -->

						<!-- wp:acf/share {"name":"acf/share","mode":"preview"} /-->
					</div>
					<!-- /wp:group -->

					<!-- wp:group {"className":"jove-video-abstract-details","layout":{"type":"constrained"}} -->
					<div class="wp-block-group jove-video-abstract-details">
						<!-- wp:heading -->
						<h2 class="wp-block-heading">Abstract</h2>
						<!-- /wp:heading -->

						<!-- wp:post-content /-->

						<!-- wp:post-terms {"term":"keyword","prefix":"Keywords:","className":"is-style-term-button"} /-->
					</div>
					<!-- /wp:group -->
					<!-- /wp:acf/abstract -->
				</div>
				<!-- /wp:column -->

				<!-- wp:column {"width":"40%","className":"jove-video-right-col"} -->
				<div
					class="wp-block-column jove-video-right-col"
					style="flex-basis: 40%"
				>
					<!-- wp:acf/experiment {"name":"acf/experiment","data":{"heading":"","_heading":"field_67737146c3d79"},"mode":"preview"} -->
					<!-- wp:group {"layout":{"type":"constrained"}} -->
					<div class="wp-block-group">
						<!-- wp:heading -->
						<h2 class="wp-block-heading">
							Related Experiment Videos
						</h2>
						<!-- /wp:heading -->
					</div>
					<!-- /wp:group -->

					<!-- wp:group {"className":"jove-experiment-video-container","layout":{"type":"constrained"}} -->
					<div class="wp-block-group jove-experiment-video-container">
						<!-- wp:acf/notice {"name":"acf/notice","data":{"text":"","_text":"field_676e8323a3358"},"mode":"preview"} -->
						<!-- wp:paragraph -->
						<p>
							These videos have been matched automatically.
							<a href="#">Contact us</a> if they are not relevant.
						</p>
						<!-- /wp:paragraph -->
						<!-- /wp:acf/notice -->

						<!-- wp:query {"queryId":29,"query":{"perPage":3,"pages":0,"offset":0,"postType":"video","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
						<div class="wp-block-query">
							<!-- wp:post-template {"layout":{"type":"default"}} -->
							<!-- wp:columns {"className":"jove-experiment-video-cols"} -->
							<div
								class="wp-block-columns jove-experiment-video-cols"
							>
								<!-- wp:column {"className":"jove-experiment-video-left-col"} -->
								<div
									class="wp-block-column jove-experiment-video-left-col"
								>
									<!-- wp:acf/video {"name":"acf/video","data":{"heading":"","_heading":"field_6773c2d174c45"},"mode":"preview"} /-->
								</div>
								<!-- /wp:column -->

								<!-- wp:column {"className":"jove-experiment-video-right-col"} -->
								<div
									class="wp-block-column jove-experiment-video-right-col"
								>
									<!-- wp:post-title /-->

									<!-- wp:acf/views {"name":"acf/views","data":{"heading":"","_heading":"field_67738e0ad37e4"},"mode":"preview"} /-->

									<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
									<div class="wp-block-group">
										<!-- wp:paragraph -->
										<p>Published on:</p>
										<!-- /wp:paragraph -->

										<!-- wp:post-date /-->
									</div>
									<!-- /wp:group -->
								</div>
								<!-- /wp:column -->
							</div>
							<!-- /wp:columns -->
							<!-- /wp:post-template -->
						</div>
						<!-- /wp:query -->

						<!-- wp:buttons -->
						<div class="wp-block-buttons">
							<!-- wp:button {"width":100} -->
							<div
								class="wp-block-button has-custom-width wp-block-button__width-100"
							>
								<a
									class="wp-block-button__link wp-element-button"
									>See all related videos</a
								>
							</div>
							<!-- /wp:button -->
						</div>
						<!-- /wp:buttons -->
					</div>
					<!-- /wp:group -->
					<!-- /wp:acf/experiment -->
				</div>
				<!-- /wp:column -->
			</div>
			<!-- /wp:columns -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"className":"jove-video-related-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group jove-video-related-container">
	<!-- wp:acf/concept {"name":"acf/concept","data":{"heading":"","_heading":"field_6773719fa0765"},"mode":"preview"} -->
	<!-- wp:heading -->
	<h2 class="wp-block-heading">Related Concept Videos</h2>
	<!-- /wp:heading -->

	<!-- wp:query {"queryId":38,"query":{"perPage":6,"pages":0,"offset":0,"postType":"video","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
	<div class="wp-block-query">
		<!-- wp:post-template {"layout":{"type":"default"}} -->
		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column"><!-- wp:post-featured-image /--></div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column"><!-- wp:post-title /--></div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
		<!-- /wp:post-template -->
	</div>
	<!-- /wp:query -->
	<!-- /wp:acf/concept -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
